.post-wrapper {
  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 3rem 0;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }

  ol {
    font-size: 2rem;
    list-style: inside decimal;
    margin-bottom: 1rem;
    padding: 0;
  }

  li {
    margin: 2rem 0;
    font-weight: 600;
  }

  hr {
    margin: 2.5rem 0;
  }

  img {
    margin: 3rem 0;
  }

  .logo {
    width: 700px;
  }

  .jam,
  .dif,
  .deploy {
    width: 800px;
  }

  .deploy {
    margin: 1rem 0;
  }

  strong {
    font-weight: 900;
  }

  a {
    color: #12b886;

    &:hover {
      text-decoration: underline;
    }
  }
}
